body{
  font-family: Bad Script;
  background-color: #d9d9d9;

}

img{
  height: 300px;
  width: 300px;
  object-fit:cover;
  border-style: solid;
  justify-content: space-between;
  
}
@media screen and (max-width: 900px) {
  img {
    object-fit: scale-down;
    height: inherit;
    width: inherit;
  }
}
h1{
  text-align: center;
 text-shadow: 6px 6px #85C1E9	;
 font-size: 70px;
 border-top: solid #3498DB ;
 border-bottom: solid #3498DB ;
border-width: thick;

}
